<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
   <connectionStrings>

   	<add name="uniparkDBConn4"
		connectionString="server=LAPTOP-7NK7AO92\SQLEXPRESS; database=uniparkDB; Integrated Security=True"/>
	  <add name="uniparkDBConn2"
		connectionString="server=MAURICE-PC; database=uniparkDB; Integrated Security=True"/> 
     <add name="uniparkDBConn1"
 connectionString="server = sict-sql; database=uniparkDB; Integrated Security=False; user = dragoncode ; password = password1"/> 
     

     
    
   </connectionStrings>	 
</configuration>
