<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
   <connectionStrings>
   	<add name="uniparkDBConn2"
		connectionString="server=DANIEL-PC\sqlexpress; database=uniparkDB; Integrated Security=True"/>
     <add name="uniparkDBConn"
    connectionString="server=MAURICE-PC; database=uniparkDB; Integrated Security=True"/>
     
   </connectionStrings>	 
</configuration>
